requests>=2.31.0
pandas>=2.2.2
pyarrow>=16.0.0
duckdb>=1.0.0
streamlit>=1.35.0
fastapi>=0.111.0
uvicorn>=0.29.0
google-api-python-client>=2.0.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.0.0
shapely>=2.0.4
pytz>=2024.1
garminconnect>=0.2.0
